In [1]:
import pandas as pd

# Series

In [4]:
seriesData = pd.Series([70,60,90],index=['국','수','영'])
seriesData

국    70
수    60
영    90
dtype: int64

In [5]:
del seriesData['국']

In [6]:
seriesData

수    60
영    90
dtype: int64

pandas datatype
=> dtype으로 불리며, 주요 데이터 타입은 다음과 같다
=> object -> str Or 혼용 데이터 타입(문자열)
=> int64
=> float64
=> bool
=> datetime,timedelta

데이터 타입 변경: Series.astype(변경할 데이터 타입)

In [7]:
seriesData.astype('float64')

수    60.0
영    90.0
dtype: float64

In [30]:
country = pd.DataFrame({"년도":[2020,2021,2022,2023],"미국": [2.1,4.2,4.4,5.2], "한국":[0.4,0.5,0.65,0.1],"중국":[2.2,3.5,4.2,1.1]})

In [31]:
country = country.set_index('년도')

In [32]:
country

       미국    한국   중국
년도
2020  2.1  0.40  2.2
2021  4.2  0.50  3.5
2022  4.4  0.65  4.2
2023  5.2  0.10  1.1

loc: index를 통해서 찾음
iloc: index 번호를 통해서 값을 찾음(0부터 시작)

In [37]:
country.loc[2022]

0.65